header.header
    div.container
        nav.menu
            ul.menu-itens
                li.menu-item
                    a.menu-link(href="#") Perfil
                li.menu-item 
                    a.menu-link(href="#") Projeto
        div.profile-header
            img.profile-header-img(src="assets/img/angelilton-perfi-minil.jpg", alt="imagem de perfil do github")
            span.profile-header-text Angelilton Epifanio