extends ./layouts/default.pug

block content
    main.main.container-center
        div.profile-container
            img(srcset="assets/img/001-perfil-1x.jpg 1x, assets/img/001-perfil-2x.jpg 2x" src="assets/img/001-perfil-1x.jpg", alt="imagem do perfil" class="profile-img")
            h1.heading-lv1 Angelilton EPifanio
            p.paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et magni doloremque dolor quia laborum mollitia voluptatum? Minus veniam illo iusto, praesentium odio nisi dolores porro minima dignissimos architecto voluptatem dicta, suscipit nam sed eum cum laborum laboriosam optio! Perspiciatis ducimus placeat sit eaque quasi omnis molestiae quidem similique ea architecto.