extends ./layouts/default.pug

block content
    main.main.container
        div.projects
            section.projects-list
                h1.heading-lv1 projetos

                article.project
                    h2.project-name Project Name
                    div.project-star
                        include icons/icon-star.html
                        span.project-star-count 000
                    p.project-description descrição do projeto

                article.project
                    h2.project-name Project Name
                    div.project-star
                        include icons/icon-star.html
                        span.project-star-count 000
                    p.project-description descrição do projeto

                article.project
                    h2.project-name Project Name
                    div.project-star
                        include icons/icon-star.html
                        span.project-star-count 000
                    p.project-description descrição do projeto

                article.project
                    h2.project-name Project Name
                    div.project-star
                        include icons/icon-star.html
                        span.project-star-count 000
                    p.project-description descrição do projeto