extends ./layouts/default.pug

block content
    div.container
            section.projects-list
                h1.heading-lv1 projetos

                for project in projects 
                    article.project
                        h2.project-name=project.name
                        div.project-star
                            include icons/icon-star.html
                            span.project-star-count=project.stars
                        p.project-description=project.description